<%= form_with(url: root_url, method: :get, local: true) do |f| %>
  <%= f.text_field :user_id, placeholder: "flickr user_id" %>
  <%= f.submit "Search for photos" %>
<% end %>

<% if @photos %>
  <% @photos.each do |photo_url| %>
    <%= link_to image_tag(photo_url), photo_url %>
  <% end %>
<% elsif @no_user_found %>
  <h2><%= @no_user_found %></h2>
<% end %>
